<section>
  <h1><i class="fa fa-envelope-o" aria-hidden="true"></i> <%= t ".invite_to", name: @organization.name %></h1>

  <%= form_for @user_organization, html: {class: "invite-form"} do |f| %>
    <%= render "shared/errors_messages", object: @user_organization %>
    <%= f.hidden_field :organization_id, value: @organization.id %>
    <%= text_field_tag :invite, nil, placeholder: t(".invite_placeholder"),
      id: "invite_user", class: "invite-box form-control", required: true %>
    <div class="actions">
      <%= f.submit :invite, class: "btn button btn-submit", id: "btn_invite" %>
    </div>
  <% end %>

  <div>
    <%= link_to t(".finish"), organizations_path, class: "btn btn-submit" %>
  </div>
</section>
