<table class="table table-striped">
  <tr>
    <th><%= t ".room_name" %></th>
    <th><%= t ".date" %></th>
    <th><%= t ".time" %></th>
    <th><%= t ".action" %></th>
  </tr>
  <% @results.each do |result| %>
    <tr>
      <td><%= result.room_name %></td>
      <td><%= datetime_format result.start_date, "short_date" %></td>
      <td>
        <%= datetime_format(result.start_date, "short_time") + " - " +
          datetime_format(result.finish_date, "short_time")
        %>
      </td>
      <td>
        <%= link_to t(".book"), new_event_path(fdata: result.encode_event_params),
          class: "btn btn-success btn-sm" %>
      </td>
    </tr>
  <% end %>
</table>
