<div class="tbl-object">
  <%= image_tag @organization.logo_url, class: "avatar tbl-item" %>
  <div class="tbl-item tbl-item-primary infor-organization">
    <h1 class="org-name">
      <%= @organization.name %>
    </h1>
    <%= link_to edit_organization_path(@organization), class:"btn-edit-organization" do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
  </div>
</div>

<div class="tabs">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#workspaces" data-toggle="tab"><%= t ".workspaces" %></a>
    </li>
    <li>
      <a href="#calendars" data-toggle="tab"><%= t ".calendars" %></a>
    </li>
    <li>
      <a href="#members" data-toggle="tab"><%= t ".members" %></a>
    </li>
    <li><a href="#activities" data-toggle="tab"><%= t ".activities" %></a></li>
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane fade" id="workspaces">
  </div>
  <div class="tab-pane fade" id="calendars">
    <h2><%= t ".calendars" %></h2>
  </div>
  <div class="tab-pane fade" id="members">
    <div class="member">
      <%= render "invite_member" %>
    </div>
    <div class="paginator">
    </div>
  </div>
  <div class="tab-pane fade" id="activities">
  </div>
</div>
