<li class="<%= calendar.parent? ? 'list-group-item' : 'sub-list' %>">
  <label class="divBox">
    <%= check_box_tag "calendar-checkbox-id-#{calendar.id}",
      calendar.id,
      true,
      class: "calendar-checkbox",
      google_calendar_id: calendar.google_calendar_id %>
    <label id="<%= "label-calendar-checkbox-#{calendar.id}" %>"
      class="<%= "color-#{calendar.color_id}" %>"
      for="<%= "calendar-checkbox-id-#{calendar.id}" %>">
    </label>
    <%= calendar.name %>
  </label>
  <% if calendar.permission_id == 1 %>
    <span id="<%= calendar.id %>" class="clstMenu clstMenu-child" rel="<%= calendar.color_id %>">
      <% unless calendar.parent? %>
        <span class="sub"></span>
      <% end %>
    </span>
  <% end %>
</li>
