<div id="calcontent">
  <div id="mothertable">
    <div id="nav">
      <div id="sidebar">
        <div class="tbl-object">
          <%= image_tag @calendar_presenter.logo_url, class: "avatar tbl-item" %>
          <div class="tbl-item tbl-item-primary infor-organization">
            <h1 class="org-name">
              <%= @calendar_presenter.object.name %>
            </h1>
            <%= link_to @calendar_presenter.object, class:"btn-edit-organization" do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
        <div class="btn-group" id="source-popup">
          <a class="btn btn-default dropdown-toggle create" data-toggle="dropdown" aria-haspopup="true">
            <div class="btn-show-popup">
              <%= image_tag @calendar_presenter.logo_url, size: Settings.size_logo_sidebar %>
              <span class="truncate">
                <%= @calendar_presenter.object.name %>
              </span>
              <span class="caret"></span>
              <span class="sr-only"></span>
            </div>
          </a>
          <div id="current-user-id-popup"></div>
          <ul class="dropdown-menu" id="event-popup">
            <li>
              <div class="qab-container gcal-popup">
                <div class="heading-label">
                  <%= t "calendar.switch_dashboard" %>
                  <i class="fa fa-times-circle close-popup-organization" aria-hidden="true"></i>
                </div>
                <ul id="list-organization">
                  <li>
                    <%= link_to current_user do %>
                      <span>
                        <% if @organization.nil? %>
                          <i class="fa fa-check" aria-hidden="true"></i>
                        <% end %>
                      </span>
                      <%= image_tag current_user.avatar_url,
                        size: Settings.size_logo_sidebar %>
                      <span><%= current_user.name %></span>
                    <% end %>
                  </li>
                  <% current_user.organizations.each do |organization| %>
                    <li>
                      <%= link_to organization_calendars_path(organization) do %>
                        <span>
                          <% if @organization == organization %>
                            <i class="fa fa-check" aria-hidden="true"></i>
                          <% end %>
                        </span>
                        <%= image_tag organization.logo_url,
                          size: Settings.size_logo_sidebar %>
                        <span><%= organization.name %></span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </li>
            <div class="top-prong">
            <div class="prong-dk"></div>
            <div class="prong-lt"></div>
          </div>
          </ul>
        </div>
      </div>
      <div class="hide-sidebar">
        <div class="mini-calendar">
          <h2 id="title-mini-calendar" class="calHeader goog-zippy-collapsed">
            <div class="hover-my-calendar">
              <span class="h zippy-arrow" unselectable="off">&nbsp;</span>
              <span class="calHeaderSpace"><%= t "calendar.mini_calendar" %></span>
            </div>
          </h2>
          <div id="mini-calendar"></div>
        </div>
        <div id="my-calendar" data-mcalendar="<%= @calendar_presenter.calendars_json %>">
          <h2 id="clst_my" class="calHeader goog-zippy-collapsed">
            <div class="hover-my-calendar">
              <span id="my-zippy-arrow" class="h zippy-arrow down" unselectable="off">&nbsp;</span>
              <span class="calHeaderSpace">
                <% if @calendar_presenter.org_obj? %>
                  <%= t ".org_calendars" %>
                <% else %>
                  <%= t ".my_calendars" %>
                <% end %>
              </span>
              <span id="clst_my_menu" class="clstMenu"></span>
            </div>
          </h2>
          <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
            <%= render "calendars", calendars: @calendar_presenter.my_calendars %>
          </div>
        </div>

        <% unless @calendar_presenter.organization %>
          <div id="other-calendar">
            <h2 id="clst_other" class="calHeader goog-zippy-collapsed">
              <div class="hover-my-calendar">
                <span id="other-zippy-arrow" class="h zippy-arrow down" unselectable="off">&nbsp;</span>
                <span class="calHeaderSpace"><%= t ".shared_calendars" %></span>
              </div>
            </h2>
            <div class="send-request-email border-light input-group">
              <input id="request-email-input" type="text" class="form-control"
                placeholder="<%= t "calendars.request_email_input" %>">
              <span class="input-group-btn">
                <button id="request-email-button"></button>
              </span>
            </div>
            <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
              <%= render "calendars", calendars: @calendar_presenter.shared_calendars %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mainbody">
      <div id="full-calendar" data-default-view="<%= @calendar_presenter.default_view %>"></div>
    </div>
  </div>
  <%= render "sidebar_menu" %>

  <div id="dialog_overlap_confirm" class="hidden">
    <%= t"events.overlap.do_you_want_create" %>
  </div>
  <div id="dialog_overlap" class="hidden">
    <p><%= t"events.overlap.fulloverlap" %></p>
  </div>
  <%= render "events/dialog_form" %>
  <%= confirm_popup_repeat_events t("events.repeat_dialog.delete") %>
  <%= confirm_popup_repeat_events t("events.repeat_dialog.edit") %>
  <%= render "events/google_event_popup" %>
</div>
<div class="fc-right-left hidden" id="timezone_name_current_user">
  <%= @calendar_presenter.full_timezone_name %>
</div>
<div id="loading" style="display: none;">loading...</div>
