<div id="calcontent">
  <div id="mothertable">
    <div id="nav">
      <div id="sidebar">
        <div class="btn-group" id="source-popup">
          <%= link_to t("calendar.create_event"),
            new_event_path, class: "btn btn-danger" %>
          <a class="btn btn-danger dropdown-toggle create" data-toggle="dropdown" aria-haspopup="true">
            <span class="caret"></span>
            <span class="sr-only"></span>
          </a>
          <div id="current-user-id-popup"><%= current_user.id %></div>
          <ul class="dropdown-menu" id="event-popup">
            <li>
              <div class="qab-container gcal-popup">
                <label><%= t "calendar.quick_add" %></label>
                <div class="inline-block">
                  <textarea id="title-event-value" rows="1"></textarea>
                </div>
                <button id="btn-quick-add" class="button blue">
                  <%= t("calendar.add") %>
                </button>
                <p><%= t "calendar.example" %></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="hide-sidebar">
        <div class="mini-calendar">
          <h2 id="title-mini-calendar" class="calHeader goog-zippy-collapsed">
            <div class="hover-my-calendar">
              <span class="h zippy-arrow" unselectable="off">&nbsp;</span>
              <span class="calHeaderSpace"><%= t "calendar.mini_calendar" %></span>
            </div>
          </h2>
          <div id="mini-calendar"></div>
        </div>
        <div id="my-calendar" data-mcalendar="<%= @calendar_presenter.calendars_json %>">
          <h2 id="clst_my" class="calHeader goog-zippy-collapsed">
            <div class="hover-my-calendar">
              <span id="my-zippy-arrow" class="h zippy-arrow down" unselectable="off">&nbsp;</span>
              <span class="calHeaderSpace"><%= t ".my_calendars" %></span>
              <span id="clst_my_menu" class="clstMenu"></span>
            </div>
          </h2>
          <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
            <%= render "calendars", calendars: @calendar_presenter.my_calendars %>
          </div>
        </div>
        <div id="other-calendar">
          <h2 id="clst_other" class="calHeader goog-zippy-collapsed">
            <div class="hover-my-calendar">
              <span id="other-zippy-arrow" class="h zippy-arrow down" unselectable="off">&nbsp;</span>
              <span class="calHeaderSpace"><%= t ".other_calendars" %></span>
            </div>
          </h2>
          <div id="collapse2" class="panel-collapse collapse in" aria-expanded="true">
            <div class="send-request-email border-light input-group">
              <input id="request-email-input" type="text" class="form-control"
                placeholder="<%= t "calendars.request_email_input" %>">
              <span class="input-group-btn">
                <button id="request-email-button"></button>
              </span>
            </div>
            <%= render "calendars", calendars: @calendar_presenter.other_calendars %>
          </div>
        </div>
      </div>
    </div>
    <div class="mainbody">
      <div id="full-calendar" data-default-view="<%= current_user.setting_default_view %>"></div>
    </div>
  </div>
  <%= render "sidebar_menu" %>

  <div id="dialog_overlap_confirm" class="hidden">
    <%= t"events.overlap.do_you_want_create" %>
  </div>
  <div id="dialog_overlap" class="hidden">
    <p><%= t"events.overlap.fulloverlap" %></p>
  </div>
  <%= render "events/dialog_form" %>
  <%= confirm_popup_repeat_events t("events.repeat_dialog.delete") %>
  <%= confirm_popup_repeat_events t("events.repeat_dialog.edit") %>
  <%= render "events/google_event_popup" %>
</div>
<div class="fc-right-left hidden" id="timezone_name_current_user">
  <%= current_user.full_timezone_name %>
</div>
<div id="loading" style="display: none;">loading...</div>
