<%= form_for @organization, html: {class: "organization-form"} do |f| %>
  <%= render "shared/control_action", f: f %>

  <div class="form-group">
    <h2 class="f2-light">Create an organization account</h2>
  </div>

  <%= render "shared/errors_messages", object: @organization %>

  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :name, "Organization name" %>
      <%= f.text_field :name, class: "form-control", required: true,
        placeholder: "Framgia Viet Nam" %>
    </div>
  </div>
<% end %>
