<%= form_for @organization, html: {class: "organization-form"} do |f| %>
  <%= render partial: "shared/control_action", locals: {f: f, partials: []} %>

  <div class="form-group">
    <h2 class="f2-light">
      <% if @organization.new_record? %>
        <%= t ".create_organization" %>
      <% else %>
        <%= t ".edit_organization" %>
      <% end %>
    </h2>
  </div>
  <%= render "shared/errors_messages", object: @organization %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :name, t(".organization_name") %>
      <%= f.text_field :name, class: "form-control", required: true,
        placeholder: t(".placeholder") %>
      <div class="upload-image">
        <%= image_tag @organization.logo_url, size: Settings.size_input_file,
          class: "img-thumbnail logo-preview" %>
        <span class="btn btn-default btn-file">
          <%= f.file_field :logo, class: "logo-upload",
            accept: "image/png, image/gif, image/jpeg" %>
          <i class="fa fa-camera" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>

  <%= f.fields_for :setting do |ff| %>
    <div class="form-group row">
      <div class="col-md-6">
        <%= ff.label :timezone_name %>
        <%= ff.time_zone_select :timezone_name, nil, {},
          {include_blank: true, class: "form-control timezone-select"} %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <%= ff.label :default_view, "Calendar default view" %>
        <%= ff.select(:default_view, ["calendar", "scheduler"], {},
          {include_blank: false, class: "form-control calendar-default-view"}) %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <%= ff.label :country %>
        <%= ff.country_select :country, {},
          {
            include_blank: true,
            autocomplete: "off",
            class: "form-control country-select"
          } %>
      </div>
    </div>
  <% end %>
  <%= link_to_add_fields f, :workspaces %>
<% end %>
