<section>
  <div class="col-md-10 col-md-offset-1">
    <h1><%= t ".listing_organizations_title" %></h1>

    <%= link_to new_organization_path, class: "btn btn-new-organization" do %>
      <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i> <%= t ".new_organization" %>
    <% end %>

    <table class="table round-table round-table-rounded">
      <thead>
        <tr>
          <th><%= t ".name" %></th>
          <th><%= t ".owner" %></th>
          <th><%= t ".invite_member" %></th>
          <th><%= t ".details" %></th>
          <th><%= t ".edit" %></th>
          <th><%= t ".delete" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @organizations %>
      </tbody>
    </table>
  </div>
</section>
