<section>
  <div class="col-md-10 col-md-offset-1">
    <h1><%= t ".listing_organizations_title" %></h1>
        <table class="table round-table round-table-rounded">
      <thead>
        <tr>
          <th><%= t ".name" %></th>
          <th><%= t ".owner" %></th>
          <th><%= t ".invite_member" %></th>
          <th><%= t ".details" %></th>
          <th><%= t ".edit" %></th>
          <th><%= t ".delete" %></th>
        </tr>
      </thead>
      <tbody class="org-body">
        <%= @organizations.size > 0 ? (render "organizations/organization") : (render "organizations/empty_organization") %>
      </tbody>
    </table>
    <div id="paginator">
      <%= paginate @organizations, remote: true %>
    </div>
    <button class="btn button-add add-new-organization">
      <span>
        <%= link_to new_organization_path do %>
          <%= t ".new_organization" %>
        <% end %>
      </span>
    </button>
    <div class="user-modal" id="add-org-modal">
      <div class="modal-content" style="width: 500px;">
        <div class="modal-header">
          <h2><%= t ".add-org" %><span class="close">×</span></h2>
        </div>
        <hr>
        <div class="signin_error_message"></div>
        <div id="sign-in">
          <%= render "organizations/add_organization" %>
        </div>
      </div>
    </div>
  </div>
</section>
