<section>
  <h1><%= t ".listing_places_title" %></h1>

  <table class="table-hover table-place">
    <thead>
      <tr>
        <th class="th-name-place"><%= t ".name" %></th>
        <th class="th-address-place"><%= t ".address" %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.address %></td>
          <td>
            <%= link_to "", place, class:"fa fa-info-circle place-action",
              title: t(".details"), "aria-hidden":true %>
          </td>
          <td>
            <%= link_to "", edit_place_path(place), class:"fa fa-pencil place-action",
              title: t(".edit") %>
          </td>
          <td>
            <%= link_to "", place, method: :delete,
              data: {confirm: t(".delete_confirm")},
              class:"fa fa-trash place-action", title: t(".delete") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to new_place_path, class: "btn btn-new-place" do %>
    <i class="fa fa-plus" aria-hidden="true"></i> <%= t ".new_place" %>
  <% end %>
</section>
