<section>
  <p id="notice"><%= notice %></p>

  <p>
    <strong><%= t ".name"%>:</strong>
    <%= @place.name %>
  </p>

  <p>
    <strong><%= t ".address"%>:</strong>
    <%= @place.address %>
  </p>

  <%= link_to t(".edit"), edit_place_path(@place) %> |
  <%= link_to t(".back"), places_path %>
</section>
