<header id="header" class="logo">
  <div id="logo">
    <span>
      <%= link_to t("layout.calendar-logo"), "/" %>
    </span>
  </div>
  <ul class="right">
    <% if user_signed_in? %>
      <li class="avatar-box">
        <a class="avatar" id="header-avatar" href="#">
          <%= get_avatar current_user %>
        </a>
        <div id="sub-menu-setting" class= "sub-menu sub-menu-hidden">
          <!-- <div class="sub-setting"> -->
            <%#= link_to t("layout.show"), user_path(current_user) %>
          <!-- </div> -->
          <!-- <div class="sub-setting"> -->
            <%#= link_to t("calendars.push"), "/auth/google_oauth2?push=true" %>
          <!-- </div> -->
          <div class="sub-setting">
            <%= link_to t("calendars.pull"), "/auth/google_oauth2?pull=true" %>
          </div>
          <div class="sub-setting">
            <%= link_to t("session.link.sign_out"), destroy_user_session_path,
              method: :delete %>
          </div>
          <div id="prong-header" class="top-prong">
            <div class="prong-dk"></div>
            <div class="prong-lt"></div>
          </div>
        </div>
      </li>
      <li>
        <%= link_to current_user.name, current_user %>
      </li>
    <% else %>
      <li class="signup">
        <%= link_to "javascript:void(0)" do %>
          <i class="fa fa-user-plus" aria-hidden="true"></i></i> <%= t("devise.registrations.sign_up") %>
        <% end %>
      </li>
      <li class="login">
        <%= link_to "javascript:void(0)" do %>
          <i class="fa fa-sign-in" aria-hidden="true"></i> <%= t("layout.log_in") %>
        <% end %>
      </li>
    <% end %>
  </ul>
</header>
