<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <%= favicon_link_tag "favicon.ico" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
    <% if controller_name == "calendars" && action_name == "index" %>
      <style type="text/css">
        <% @colors.each do |color| %>
          .color-<%= color.id %> {
            background-color: <%= color.color_hex %> !important;
          }
        <% end %>
      </style>
    <% end %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="main-content">
      <%= render "shared/flash" %>
      <%= render "shared/slider" unless user_signed_in? %>
      <%= yield %>
    </div>
  </body>
</html>
